.brand-logo {
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  margin-left: 2rem;
}

.landing-page-container {
  width: 40%;
  background-color: white;
  color: black !important;
  padding: 10px 30px;
  text-align: center;
  margin: 3rem auto;
}

@media (max-width: 500px) {
  .landing-page-container {
    width: 80%;
  }
}

.landing-page-text {
  color: black;
}

* {
  font-family: 'Titillium Web', sans-serif;
}

table {
  table-layout: fixed;
}

.container {
  text-align: center;
  margin: 40px auto;
}

.dropdown-menu {
  margin-top: 10px;
}

.btn-sign-up {
  margin-left: 10px !important;
  background: maroon !important;
}

.expenses-table {
  margin-top: 10px;
  font-size: 1rem;
}

.btn-small {
  font-weight: bold;
}

.input-form {
  margin-top: 10px;
  margin-bottom: 10px !important;
  font-family: 'Titillium Web', sans-serif;
}

.input-field {
  font-family: 'Titillium Web', sans-serif !important;
}

.sort-by-label {
  margin-top: 0px;
  text-align: left;
}

.sign-out-button {
  margin-right: 10px;
  font-weight: bold;
}

.table-container {
  width: 100%;
  margin: 0 auto;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5rem;
}

.sticky2 {
  position: -webkit-sticky;
  position: sticky;
  top: 15%;
  background-color: white;
}

.sort-by-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.react-datepicker {
  font-family: 'Titillium Web', sans-serif !important;
}

.react-datepicker-wrapper {
  z-index: -3 !important;
}

.nav {
  background-color: #2bbbad !important;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;

  /* background-color: white; */
}

.react-datepicker-popper {
  z-index: 6 !important;
}

.react-datepicker__header,
.react-datepicker__current-month,
.react-datepicker__day-names,
.react-datepicker__day-name {
  background-color: #2bbbad;
  color: white !important;
}

.react-datepicker__portal .react-datepicker__current-month,
.react-datepicker__portal .react-datepicker-time__header {
  padding-top: 10px;
}

.react-datepicker__month-container {
  padding-top: 10px;
}

.react-datepicker__portal .react-datepicker__navigation--previous,
.react-datepicker__portal .react-datepicker__navigation--next {
  margin-top: 20px;
}

.react-datepicker__input-container {
  color: white !important;
}

input.expense-input {
  color: white !important;
  font-family: 'Titillium Web', sans-serif !important;
}
.react-datepicker__input-container > input {
  color: white !important;
}

.total-table-container {
  padding: 0 30px;
  margin: 0 auto;
  text-align: center;
}

.bold-text {
  font-weight: bold;
}

.date-pickers {
  margin-top: 10px;
  display: block;
}
.to-span {
  margin-right: 50px;
  text-align: center;
}

.total-average {
  /* width: 70%; */
  text-align: right;
  font-size: 1.1rem;
}

.edit-btn {
  margin: 5px;
}

/* Loading  */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.error-message {
  color: red;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .brand-logo {
    font-size: 1.5rem !important;
    margin: 0 auto;
  }
}
